/* Repeating top-down gradient */
* {
    background: linear-gradient(to bottom, lightyellow, yellow)
}

header {
    width: 140px;
    height: 70px;
    border: 1px solid blue; /* Near useless border */
    border-radius: 50%; /* Transforms element from rectangle to oval */
    background: blue;
    padding: 20px;
    color: white;
}